/*====================================
Author: www.visionbharati.com
===================================*/


#menu {
    background-color:#45545e;
   
}

/*=====================================
  Button Color 
    ===================================*/
.btn-info, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-color: #45545e !important;
    border-color: #45545e !important;
}

.btn-info:hover {
	background-color:rgba(111, 135, 149, 0.9) !important;
}

/*=====================================
  HEADERS STYLES 
    ===================================*/
.header-sec {
	background: url(../../img/nriservices/nriservice_header.jpg) no-repeat center center;
	background-attachment: fixed;
}

.header-sec .overlay{
    background:rgba(111, 135, 149, 0.5);
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/
.testi-sec {
    background: url(../../img/common/common_testi.jpg) no-repeat center center;
    background-attachment: fixed;
}

.testi-sec .overlay{
    background:rgba(111, 135, 149, 0.8);
}
 

/*=====================================
  PRICING STYLES 
    ===================================*/

.single-price {
    background-color:rgba(111, 135, 149, 1);
}
.multi-price {
    background-color:#45545e;
}
/*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color:#45545e;
}